<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Subjects List</h1>
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Credits</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="subject : ${subjects}">
                    <td th:text="${subject.id}"></td>
                    <td th:text="${subject.name}"></td>
                    <td th:text="${subject.description}"></td>
                    <td th:text="${subject.credits}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>